version: '3'

services:
  app:
    build: .
    image: p4broker
    container_name: p4broker
#    image: wata516/p4d
    restart: always
    environment:
      P4PPORT: tcp::1667
      P4PTARGET: 192.168.48.2:1666
    working_dir: $PWD
    ports: 
      - "1668:1668"
    networks:
      - perforce-network
    volumes:
      - $PWD/p4b/ssl:/p4b/ssl
      - $PWD/p4b/config:/p4b/config
      - $PWD/p4b/logs:/p4b/logs
networks:
  perforce-network:
    external: true
